<%= render :partial => 'layouts/big_logo' %>
<div id="gallery" class="fullsize main-section">
  <h1 class="main-title">~Photo Gallery~</h1>
  <p>
    Photos from our wedding celebrations will follow the day itself.
  </p>
  <p>
    On the day we intend to have a projector hooked up. You will be able to
    send us your pics &amp; they will come up on the big screen.
  <p>
    In the meantime, why not have a practice?
    <a href="mailto:gemmaandlewis@outlook.com">Send us a pic</a> with a little
    message and watch it appear on this page.
  </p>
</div>
