<%= render :partial => 'layouts/big_logo' %>
<div id="gifts" class="fullsize main-section">
  <h1 class="main-title">~Gift List~</h1>
  <div class="jumbotron">
    <div class="text-div">
      <p>
        We are happy just to be able to celebrate our marriage with you but if you
        would like to give us a wedding present we would really appreciate donations
        towards our dream honeymoon. If you do make a donation, please include your
        name in the comments box to make sure we can thank you.
      </p>
      <p>
        We have also opened a John Lewis gift list in case you would prefer
        something more tangible. Details of the gift list will be on this page from
        the 1st March as this is the earliest that John Lewis will let us open it.
      </p>
      <div class="box">
        <h3>Honeymoon Donation</h3>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="notify_url" value="<%= paypal_payments_url %>">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="business" value="djbase666@yahoo.com">
          <input type="hidden" name="item_name" value="Lewis and Gemma Honeymoon Donation">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="no_note" value="0">
          <input type="hidden" name="currency_code" value="GBP">
          <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
          <input type="image" id="paypal" class="hidden" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <i class="fa paypal fa-cc-paypal" id="paypal-css"></i>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>

  </div>


</div>
<script charset="utf-8">
$("#paypal-css").click(function(){
  $("#paypal").click();
  return false;
});
</script>
