 <div class="container-fluid big-logo-row">
   <div class="container">
     <div class="row">
       <div class="col-xs-12 big-logo-container">
         <h1 class="big-logo"><%=image_tag('logo.png',class:"logo") %></h1>
       </div><!--/.col-xs-12 -->
     </div><!--/.row -->
   </div><!--/.container -->
 </div><!--/.container-fluid -->

<div id="home" class="container fullsize home">
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
     <div class="item active">
         <%= image_tag ("logo.png"),class:"" %>
      </div>
      <div class="item">
        <%= image_tag ("strip.png"),class:"" %>
      </div>
    </div>
    <h1>We're getting married!</h1>
    <h2>Hello & welcome to our wedding site.
    After seven years together, we are extremely excited to be planning our wedding. We have some wonderful friends and family, and hope that you will be able to join us.
    If you haven't already, please try to RSVP as soon as you can as this will help us with our planning.
    </h2>
  </div><!--/.container -->
</div>


<div id="proposal" class="fullsize">

</div>

<div id="rsvp" class="fullsize">

</div>

<div id="gifts" class="fullsize">

</div>

<div id="insta" class="fullsize">

</div>
<div id="gallery" class="fullsize">

</div>
