<%= render :partial => 'layouts/big_logo' %>
<div id="proposal" class="fullsize main-section">
  <h1 class="main-title">~The Proposal~</h1>
  <div class="proposal-images">
    <div class="young-lewis">
      <%= image_tag ("Photo10.jpg") %>
    </div>
    <div class="heart">
      <i class="fa fa-heart"></i>
    </div>
    <div class="young-gem">
      <%= image_tag ("Photo11.jpg") %>
    </div>
  </div>
  <div class="jumbotron">
    <div class="text-div">
      <p>
        Lewis proposed to Gemma in Cape Town on Signal Hill. This is otherwise
        known as the 'Lion's Rump'. Take a look at the picture below and you'll
        see what we mean. It is quite apt considering they are both Leos.
      </p>
      <p>
        Lewis chose Cape Town because Gemma grew up in the city. Her parents also live there.
        Lewis woke Gemma up on the day having told her to expect a day trip
        surprise. The first stop on the magical mystery tour was the top of
        Signal Hill for amazing views and Paraglider spotting. Having had our fill
        we started to drive down Signal Hill, only for Lewis to pull over on the
        side of the mountain so we could (apparently) look at more views of the
        city. After getting out the car (and following a quick warning from Gemma
        not to fall off the cliff) and with her favourite place in the world as a
        backdrop, Lewis asked Gemma to marry him (then pulled out the ring, got
        down on one knee, and asked again). Cue lots of nervous laughing from
        Gemma and a huge YES (and kiss) followed by a cheeky photo of Lewis down
        on one knee (got to capture the moment).
      </p>
    </div>
    <div class="center">
      <p class="proposed-here">
        Lew proposed here!<br>
        <i class="fa fa-long-arrow-down"></i>
      </p>
      <%= image_tag ("lewismet.png"), class:"where-met" %>
    </div>
  </div>
</div>
