<%= render :partial => 'layouts/big_logo' %>
<div id="rsvp" class="fullsize main-section">
  <h1 class="main-title">~RSVP~</h1>
  <div class="jumbotron">
    <div class="text-div">
      <p>
        Please RSVP as soon as possible to:
        <a href="mailto:gemmaandlewis@outlook.com">gemmaandlewis@outlook.com</a>
      </p>
      <p>
        Let us know:
      </p>
      <ul>
        <li>Any dietary requirements you have</li>
        <li>Whether you favour red or white wine (or don&rsquo;t really care).</li>
        <li>If you expect NOT to be drinking any alcohol.</li>
      </ul>
    </div>
  </div>
</div>
