// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: #D2327E;
}
.big-logo-row{
  background: white;
}
.home{
}
body {
  position:relative;
}

.container-fluid{
  background-image:image-url('strip.png');
  background-size: 100% 900%;
  background-repeat: no-repeat;
}
.navbar-inverse .navbar-toggle {
border: 1px solid #333;
border-color: rgba(210, 50, 126, 1);
&:hover {
  background:white;
}
}
.navbar-inverse .navbar-toggle .icon-bar {
  border-color: rgba(210, 50, 126, 1);
  background-color: rgba(210, 50, 126, 1);

}
.small-logo {
  padding-left: 30px;
}
.logo{
  padding:20px;
  background:white;
}

.fullsize{
  width:100%;
  min-height:100vh;
  padding-top:50px;
}
#proposal{

  background:red;
}
#rsvp{

  background:green;
}
#gifts{

  background:yellow;
}
#gallery{

  background:pink;
}
#insta{

  background:purple;
}
.jumbotron{
  max-width: 800px;
margin: auto;
margin-top:50px;
margin-bottom:50px;

background: rgb(255, 232, 243);
color:white;
text-shadow: 1px 1px #CF87A9;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
background: rgba(255, 255, 255, 0.95);
}
.carousel-inner {
  margin:auto;
  width: 300px;
  border: 3px dashed rgb(210, 48, 125);
  & img {
    max-height:50vh;
  }
}
.carousel{
  display:inline-block;
}
#carousels{
  display:block;
  max-width:950px;
  margin:auto;
}
@media all and (max-width: 450px) {
  .logo{
    width:70%
  }
}
.navbar-inverse .navbar-nav > li > a {
color: rgb(210, 50, 126);
border: 1px dotted #F5DAE7;

}
