// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: #D2327E;

}
.navbar-nav {
float: left;
margin: 0;
font-weight: 900;
font-family: cursive;
font-size: 1.2em;
}
.big-logo-row{
  background: white;
}
.home{
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #D229ED;
}
img{
  border-radius:2px;
}
.where-met {
  width:100%;
}
.fa-long-arrow-down{
  font-size:2em;
  padding:20px;
}
body {
  position:relative;
  text-align:center;
}

.container-fluid{
  background: repeating-linear-gradient(34deg, white, white 10px, #D3337F 10px, #D3337F 20px);
  background-size: 100% 100%;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(210, 50, 126, 1);
  &:hover {
    background:white;
  }
}
.navbar-inverse .navbar-toggle .icon-bar {
  border-color: rgba(210, 50, 126, 1);
  background-color: rgba(210, 50, 126, 1);

}
.small-logo {
  padding-left: 30px;
}
.small-logo-img-a {
  width: 130px;
  padding-top: 5px;
  margin: auto;
  margin-left: 10%;
}
.logo{
  padding:20px;
  background:white;
}
.navbar-header{
  & .small-logo-container{
    width:130px;
    display:inline-block;
    margin:auto;
  }
  & .small-logo{
    padding-left:30px;
    width:130px;
  }
}
.fullsize{
  width:100%;
  min-height:100%;
  position:relative;
  padding-top:50px;
}
#home {
}
#proposal {
&.big-logo-row{
  margin-bottom:20px;

}
&.fullsize{
  padding-top:0px;
}
}
#rsvp{
  background:white;


}
#gifts{

  background:white;
}
#gallery{

  background:white;
}
#insta{

  background:white;
}
.jumbotron{
  max-width: 800px;
  margin: auto;
  margin-top:50px;
  margin-bottom:50px;

  background: #909DC8;
  color:white;
  text-shadow: 1px 1px #CF87A9;
  padding-left: 60px;
  padding-right: 60px;
  border-radius:2px;
}

.carousel-inner {
  margin:auto;
  width: 300px;
  border: 3px dashed rgb(210, 48, 125);
  margin-bottom:50px;
  margin-left:15px;
  & img {
  }
}
.carousel{
  display:inline-block;
}
#carousels{
  display:block;
  max-width:1000px;
  margin:auto;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(210, 50, 126);

}
.main-title{
  font-size:3em;
  font-family:cursive;
  text-align:center;
  color: rgb(232, 174, 202);
  padding-bottom:20px;
}
.proposal-images{
  max-width:900px;
  padding-top: 50px;
  margin:auto;
}
.fa-heart{
  font-size: 18em;
  color: rgb(211, 50, 126);
  padding:20px;
}
.young-img{
  width:300px;
  height:445px;
  border-radius:10px;
}
.small-logo-container{
  display:inline-block;
}
.navbar-right{
  margin-right:  20px;
}
.navbar-left{
  margin-left:  20px;
}
@media all and (min-width: 768px) {

  .navbar-header{
    & .small-logo-container-h{
      width:130px;
      display:none;
    }

  }
  .hidden{
    display:none;
  }
}

@media all and (max-width: 768px) {

  #navbarLinks{
    & .small-logo-container-h{
      width:130px;
      display:none;
    }

  }
  .navbar-left  {
    margin:auto;
  }
  .navbar-right{
    margin:auto;

  }
  .small-logo-container{
    display:none;
  }
}
@media all and (max-width: 1024px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.95);
  }


}
@media all and (max-width: 450px) {
  .logo{
    width:70%
  }
  .carousel-inner {
    margin: auto;
    width: auto;
    border: 3px dashed #d2307d;

  }
  .small-logo-container{
    display:block;
  }
  .carousel-inner img {
    max-height: inherit;
  }
}
