// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'eurostile';
  src:asset-url('Eurostile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src:asset-url('Futura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gillsans';
  src:asset-url('GillSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gill';
  src:asset-url('Gill.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src:asset-url('Gotham-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#first, .main-section {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: #D2327E;

}
.navbar-nav {
  float: left;
  margin: 0;
  font-weight: 900;
  font-family: cursive;
  font-size: 1.2em;
}
.big-logo-row{
  background: white;
}
.home{
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #B02C6B;
}
img{
  border-radius:2px;
}
.where-met {
  width:100%;
}
.fa-long-arrow-down{
  font-size:2em;
  padding:20px;
}
body {
  position:relative;
  padding-bottom: 100px;
}
#first, #home {
  text-align: center;
}

// .main-section {
//   background: linear-gradient(-45deg, white 25%, #f5dae7 25%, #f5dae7 50%, white 50%, white 75%, #f5dae7 75%);
//   background-size: 100px 100px;
//   background-repeat: repeat-x;
//   margin-top: 30px;
//   padding-bottom: 40px;
//   padding-top:120px;
// }

.container-fluid{
  background: linear-gradient(-45deg, white 25%, #f5dae7 25%, #f5dae7 50%, white 50%, white 75%, #f5dae7 75%);
  background-size: 100px 100px;
  min-height: 330px;
}

#intro .container-fluid{
  position:relative;

}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(210, 50, 126, 1);
  &:hover {
    background:white;
  }
}
.navbar-inverse .navbar-toggle .icon-bar {
  border-color: rgba(210, 50, 126, 1);
  background-color: rgba(210, 50, 126, 1);

}
.small-logo {
}
.small-logo-img-a {
  width: 130px;
  padding-top: 5px;
  margin: auto;
  margin-left: 10%;
}
.logo{
  padding:20px;
  background:white;
}
.navbar {
  text-align: center;
}
.navbar-header{
  & .small-logo-container{
    width:130px;
    display:inline-block;
    margin:auto;
  }
  & .small-logo{
    padding-left:30px;
    width:130px;
  }
}
.fullsize{
  width:100%;
  min-height:100%;
  position:relative;
}
#home {
}
#proposal {
  &.big-logo-row{
    margin-bottom:20px;
  }
}

.jumbotron{

  text-shadow: 1px 1px #CF87A9;


  max-width: 800px;
  margin: auto;
  margin-top:50px;
  margin-bottom:50px;

  background: linear-gradient(-45deg, grey 25%, #f5dae7 25%, #f5dae7 50%, grey 50%, grey 75%, #f5dae7 75%);
background-size: 100px 100px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius:10px;
  color:white;
  p {
    margin: auto;
    margin-top: 30px;
    font-family: 'Cardo', serif;
margin: 10px;
margin-bottom: 50px;
margin-top: 50px;
  }
}
.text-div{
  background: rgba(128, 128, 128, 0.93);
  padding: 20px;
  border-radius: 10px;
}
.carousel-inner {
  margin: auto;
  width: 300px;
  border: 10px dashed #F5DAE7;
  margin-bottom: 50px;
  margin-left: 15px;
  border-radius: 5px;
  & img {
  }
}
.carousel{
  display:inline-block;
}
#carousels{
  display:block;
  max-width:1000px;
  margin:auto;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(210, 50, 126);

}
.navbar-nav{
  font-weight:100;
  font-size: 1.5em;
font-family: 'Dancing Script', cursive;
}
.main-title{
  font-size:3em;
  font-family:cursive;
  text-align:center;
  color: #D3327E;
  padding-bottom:20px;
}

.proposal-images{
  max-width:900px;
  padding-top: 50px;
  margin:auto;
}
.proposal-images div{
  display: inline-block;
}
.proposal-images img {
  width:300px;
  height:445px;
  border-radius:10px;
}
.heart {
  height: 445px;
}
.fa-heart{
  font-size: 18em;
  color: rgb(211, 50, 126);
  padding:20px;
  vertical-align: middle;
}
.small-logo-container{
  display:inline-block;
}
.navbar-right{
  margin-right:  20px;
}
.navbar-left{
  margin-left:  20px;
}




.css-logo{
  text-transform: uppercase;
  margin: auto;
  background: white;
  padding: 15px;
  max-width: 500px;
}
.gemma{
  font-size: 53px;
  color: rgb(246, 213, 225);
  text-shadow: 1px 4px #021851;
  font-family:gillsans;
  font-weight: 600;

}
.lewis{
  font-size:50px;
  color:rgb(2, 24, 81);
  font-family:eurostile;
}
.and{
  font-size:16px;
  color:rgb(48, 67, 110)

}
.married{
  font-size:67px;
  color:rgb(210, 50, 126);
  font-family:eurostile;


}
.cupcake{
  background-image:image-url("cupcake.png");
  width:35px;
  height:41px;
  display:inline-block;
  background-size: 35px 41px;
  background-position: center;
  background-repeat: no-repeat;

}
.record{
  background-image:image-url("record.png");
  width:35px;
  height:41px;
  display:inline-block;
  background-size: 35px 41px;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar-inverse .navbar-nav > li > a {
color: #d2327e;
&:hover {
  background-color: #d2327e;
  color: white;


}
}
.getting{
  font-size: 8px;
  color: white;
  display: inline-block;
  text-align:center;
  width: 70px;
  height: 20px;
  padding-top: 5px;
  font-family: futura;
  background: #30436e;
  position: relative;
  top: 50%;
  transform: translateY(-70%);
}

#rsvp ul {
  list-style-type: none;
}

#songs form {
  width: 250px;
  margin: auto;
}

#songs form .field {
  margin-bottom: 10px;
  margin-top: 20px;
}

#songs input, #songs textarea {
  width: 100%;
  border: 1px solid #E8AECA;
  background:transparent
}

#songs input[type=submit] {
  border: none;
  margin-top: 20px;
  margin-bottom: 50px;

}

#songs label {
  display: block;
  text-align: left;
}

#songs p {
  margin: auto;
}

#gifts p {
  max-width: 600px;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
}

#gallery p {
  max-width: 420px;
  margin: auto;

}

#gifts_list {
  margin: auto;
}

#gifts_list td {
  padding: 10px;
  text-align: left;
  vertical-align: center;
}

#gifts_list form {
  margin: 0;
  padding: 0;
  height: 21px;
}

#gifts .box {
  border: 2px solid rgb(245, 218, 231);
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav > .active > a:focus {
  background-color: transparent;
}

.proposed-here {
  padding-left: 365px;
  font-size: 2.5em !important;
  color: #6B1111;

}
.fa-long-arrow-down{
  -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
button, input, optgroup, select, textarea {
color: rgb(245, 218, 231);
min-height:50px;
max-width:250px;
padding-left:15px;
padding-top:25px;
border-radius:5px;
font-family: 'Dancing Script', cursive;
font-size: 1.5em;
}
.btn-primary{
  border: 1px solid #E8AECA !important;
  font-size:2em;
  font-weight:100;
  &:hover{
    background:#f5dae7 !important;
    color:white;

  }
}
