<div class="container-fluid big-logo-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 big-logo-container">
        <div class="big-logo"><div class="css-logo">
          <span class="gemma">Gemma</span> <span class="and">&</span> <span class="lewis">Lewis</span><br>
            <div class="middle">
              <div class="cupcake"></div>
              <div class="cupcake"></div>
              <div class="cupcake"></div>
              <div class="cupcake"></div>
              <div class="cupcake"></div>
              <div class="getting"><span>are getting</span></div>
              <div class="record"></div>
              <div class="record"></div>
              <div class="record"></div>
              <div class="record"></div>
              <div class="record"></div>
            </div>
            <span class="married">Married</span>
        </div></div>
      </div><!--/.col-xs-12 -->
    </div><!--/.row -->
  </div><!--/.container -->
</div><!--/.container-fluid -->
